# =========================
# P18 - minimal constraints
# =========================

# Clock
NET "MCLK" LOC = "B8";
NET "MCLK" CLOCK_DEDICATED_ROUTE = FALSE;

# Buttons
NET "BTN<0>" LOC = "G12";  # BTN0

# Switches
NET "SW<7>" LOC = "N3";    # SW7 (speed select)

# LEDs
NET "LED<0>" LOC = "M5";
NET "LED<1>" LOC = "M11";
NET "LED<2>" LOC = "P7";
NET "LED<3>" LOC = "P6";
NET "LED<4>" LOC = "N5";
NET "LED<5>" LOC = "N4";
NET "LED<6>" LOC = "P4";
NET "LED<7>" LOC = "G1";